.dark{
    background-color: #2d3941;
}

.main-continer{
    background-color: #f4f5f8;
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}
.sb-header {
     box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
}
.siderbar-container{
   
    scrollbar-width: none;
    overflow: scroll;
    flex: 0.3;
    border: 5px ;
}
.chatArea-container{

    flex: 0.7;
}
.sb-header{
    background-color:white;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px 0px;

}
.sb-header span{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0px 10px;
}
.sb-search {
    background-color:white ;
    
    border-radius: 20px;
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
}
.sb-search input{
   outline-width: 0;
   border: none;
   font-size: 1.25rem;
}

.sb-search span{
    position: relative;
    bottom: 33px;
    left: 75%;
    

}
.sb-convarsation{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    flex: 1;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
    
}

.conversation-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto ;
    column-gap: 10px;
    padding: 5px ;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
     overflow: scroll;
    scrollbar-width: none;
    
}

.con-icon{
    display: flex;
    grid-area: 1/1/3/2;
    justify-content:center;
    align-items: center;
    background-color: #d9d9d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-items: center;
}
.con-title{
    grid-area: 1/2/2/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,0.45);
}
.con-timestamp{
    justify-self: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color:rgba(0,0,0,0.45);
}
.con-lastMessage{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75;
}
.chatArea-container{
    display: flex;
    flex-direction: column;
    
    
}
.chatArea-header{
    background-color:white;
    display:flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px ;
    margin: 10px;
    border-radius: 20px;
     box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
   
}
.meeages-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    overflow: scroll;
    scrollbar-width: none;
    flex: 1;
     box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
}
.text-input-area {
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 20px;

   
}
.text-input{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}
.text-input-area span{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.other-message-container{
    background-color: aqua;
    
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    
}
.self-message-container{
    background-color: rgb(14, 26, 161);
    display: flex;
    justify-content: end;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
.welcome-header{
    padding: 50px 0px;
    flex: 0.6;
    
}
.welcome-header p{
    font-size: 0.8rem;
    color: #d9d9d9;
}
.login-img{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;

}
.login-img img{
    width: 200px;
    
}
.login-input{
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
}
.login-container{
     background-color: #f4f5f8;
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}
.login-input form input{
    display: flex;
    padding: 10px ;
    margin: 5px 0px;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
     border: none;
}
.login-input h1{
    color: skyblue;
    
}
.login-input button{
    width: 180px;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
     border: none;
}

.group-container{
    flex: 0.7;
}
.user-user{
    display: flex;
    background-color:white;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
     rgba(0,0,0,0.3)0px 3px 7px -3px;
     padding: 10px 0px;
     gap: 20px;
     margin: 10px 0px;
     border-radius: 20px;
}
.index-1{
   background-color: #d9d9d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-items: center;
    margin: 0px 5px;
     justify-content:center;
    align-items: center;
}
.welcome-header{
    margin: 100px auto;
    flex: 0.7;
    text-align: center;
    

}